venv/
__pycache__/
*.pyc
.env
.streamlit/secrets.toml
*.sh.save
*:Zone.Identifier
node_modules/
backend/venv/
backend/.env
frontend/.env
frontend/dist/
frontend/node_modules/
frontend/tsconfig.tsbuildinfo
